@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

code,
pre {
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}

.container {
  width: 800px;
  margin: 80px auto;
}

hr {
  border: none;
  height: 2px;
  background-color: #5b71c8;
  margin: 20px 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
}

code,
h3::before,
p a {
  color: #5b71c8;
}

h3::before {
  content: "#";
  display: inline-block;
  margin-right: 5px;
  position: relative;
}

code {
  padding: 2px;
}

pre {
  border-radius: 5px;
  overflow: auto;
}

.response {
  background-color: transparent;
}

.jobs-title,
.auth-title,
.users-title {
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
